*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
  --bg-button_url: url(assets/MoonStars.svg);
  --text-color: white;
  color: var(--text-color);
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.20);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
.light{
   --text-color:black;
   --bg-url: url(assets/bg-mobile-light.jpg);
   --stroke-color: rgba(0 , 0, 0, 0.5);
   --surface-color: rgba(0 ,0 ,0, 0.05);
   --surface-color-hover: rgba(0, 0, 0, 0.02);
   --highlight-color: rgba(0, 0, 0, 0.1);
   --bg-button_url: url(assets/Sun.svg);
 }
body{
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;

  /* background-repeat: no-repeat ;
  background-position: top center;
  background-size: cover; */

  background-attachment: fixed;
}

body *{
font-family: 'Inter', sans-serif;
color: var(--text-color);
}


#container{
  margin-top: 56px;
  width: 360px;
  margin: auto;
  margin-top: 56px;
  padding: 0 24px
}
/* Profile */
#profile{
padding: 24px;
text-align: center;
}

#profile p{
margin-top: 8px;
font-weight: 500;
line-height: 24px;
}
/* switch  */


#switch{
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button{
width: 32px;
height: 32px;
border-radius: 50%;
background: white var(--bg-button_url) no-repeat center;
position: absolute;
left: 0;
z-index: 1;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
animation: slide-back 0.2s ;
}

.light #switch button{
  animation: slide-in 0.4s forwards;
}

.light #switch button:hover{
  outline: 8px solid var(--stroke-color);
}

#switch button:hover{
  outline: 8px solid var(--highlight-color)
}
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter:  blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 9999px;
}

/* Listas */
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}
ul li  a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
padding: 16px 24px;
border-radius: 8px;
border: 1px solid var( --stroke-color);
background: var(--surface-color) ;
text-decoration: none;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
transition: background 0.4s;
max-width: 100%; 
box-sizing: border-box;

}



ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);

}

/* links sociais  */
#social-links{

display: flex;
justify-content: center;
padding: 24px 0px;
font-size: 28px;
}

#social-links a {
  display:  flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  transition:  background 1.5s;
  border-radius: 50%;
}

#social-links a:hover{
background: var( --highlight-color);
transition: all 1.5s;

}

footer{
  font-weight: 400px;
  line-height: 24px;
  font-size: 14px ;
  padding: 24px;
  text-align: center;
}
footer span{
  text-decoration: underline;
}

@media (min-width: 700px){
  :root{
      --bg-url: url(assets/bg-desktop.jpg);
  }
        .light{
        --bg-url: url(assets/bg-desktop-light.jpg);
      }
}

/* animation */

@keyframes slide-in{
  from{
    left:0;
  }
  to{
    left: 50%
  }
}

@keyframes slide-back{
  from{
    left: 50%;
  }to{
    left: 0;
  }
}